/WorkAidsTools/*.suo
/WorkAidsTools/WorkAidsTools/bin
/WorkAidsTools/WorkAidsTools/obj
/*.gitignore
/WorkAidsTools/Mode/bin
/WorkAidsTools/Mode/obj
/WorkAidsTools/Common/bin
/WorkAidsTools/Common/obj
/WorkAidsTools/BLL/bin
/WorkAidsTools/BLL/obj
/WorkAidsTools/DAL/bin
/WorkAidsTools/DAL/obj
/WorkAidsTools/WorkAidsTools/WorkAidsTools.csproj.user
